.showResult {
  width: 60rem;
  padding: 0.5rem;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 10px;
}

.containerAnime {
  width: 12rem;
  height: 15rem;
}

.title {
  height: 2.4rem;
  text-align: center;
}

.img {
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
